body{
    background: #000;
    margin: 0;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1400px;
    margin: auto;
}
#my-canvas {
    background: #000;   
    border: 1px solid #fff;
}